$border: rgb(33, 34, 92);
$background: rgb(82, 84, 212);

.robot-holder {
    margin-bottom: 20px;
    position: relative;
}

.head {
    border: 2px solid $border;
    border-radius: 5px;
    display: block;
    width: 150px;
    height: 125px;
    margin: auto;
    position: relative;
    background-color: $background;
}

.ear {
    width: 10px;
    height: 20px;
    border-top: 2px solid $border;
    border-bottom: 2px solid $border;
    position: absolute;
    top: 50px;
    background-color: $background;
}

.ear-antenna {
    height: 5px;
    width: 15px;
    position: absolute;
    top: 5px;
    border-top: 2px solid $border;
    border-bottom: 2px solid $border;
    background-color: $background;
}

.ear-ball {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    border: 2px solid $border;
    top: 0px;
    background-color: $background;
}

.ear-ball-right {
    right: -33px;
}

.ear-ball-left {
    left: -33px;
}

.ear-antenna-left {
    left: -17px;
}

.ear-antenna-right {
    right: -17px;
}

.ear-left {
    left: -14px;
    border-left: 2px solid $border;
}

.ear-right {
    right: -14px;
    border-right: 2px solid $border;

}

.eye {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    top: 15px;
}

.eye-left {
    left: 35px;
}

.eye-right {
    right: 35px;
}

.iris {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50px;
    top: 10px;
    left: 10px;
}

.nose {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

    top: 55px;
    left: 60px;
    
    border-top: 20px solid $border;
  }

.mouth {
    position: absolute;
    width: 75px;
    height: 10px;
    border-left: 2px solid $border;
    border-bottom: 2px solid $border;
    border-right: 2px solid $border;
    left: 37px;
    top: 68%;
}

$size: 37.5px;

.mouth-open {
    position: absolute;
    border: 2px solid $border;
    height: 20px;
    width: 75px;
    border-bottom-left-radius: $size * 2;
    border-bottom-right-radius: $size * 2;
    left: 37px;
    top: 68%;
}