@import 'buttons';
@import 'header';

body {
    background-color: #4345B2;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Montserrat';
    src: url("montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url("montserrat/Montserrat-ExtraBold.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: 'Montserrat';
    src: url("montserrat/Montserrat-Black.ttf");
    font-weight: 900;
}

.main {
  margin: auto;  

  /* SMARTPHONES PORTRAIT */
  @media only screen and (min-width: 288px) {
      width: 288px;
  }
  
  /* TABLETS PORTRAIT */
  @media only screen and (min-width: 712px) {
      width: 712px;
  }
  
  
  /* TABLET LANDSCAPE / DESKTOP */
  @media only screen and (min-width: 1200px) {
      width: 1200px;
  } 
}
